################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/aiSomColor.csprojAssemblyReference.cache
/obj/Debug/aiSomColor.csproj.CoreCompileInputs.cache
/.vs/aiSomColor/v15/Server/sqlite3
/.vs/aiSomColor/v15
/bin/Debug/aiSomColor.exe.config
/obj/Debug/aiSomColor.pdb
/obj/Debug/aiSomColor.MainForm.resources
/obj/Debug/aiSomColor.exe
/obj/Debug/aiSomColor.csproj.GenerateResource.cache
/obj/Debug/aiSomColor.csproj.FileListAbsolute.txt
/obj/Debug
/.vs/aiSomColor/v17
/.vs/aiSomColor/FileContentIndex
/bin/Debug/aiSomColor.pdb
